/* 0px - 768px */
:root{
    --primary-color: #1A73E8;
    --primary-color-hover: #1B66C9;
    --bg-color: #fff;
    --bg-footer: #F2F2F2;
    --bg-footer-border: #E3E4E7;
    --font-color: #5E5E5E;
    --btn-primary-font-color: #fff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Mono', monospace;
}

html {
    font-size: 62.5%;
    color: var(--font-color);
}

body{
    font-size: 1.6rem;
}

/* Reset default styles for buttons */
button {
    margin: 0;
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

.container{
    width: 100%;
}

header.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 5vh;
    min-height: 5svh;
}

header.container section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

header.container:first-child{
    text-transform: uppercase;
}

header.container section > *{
    margin: 1rem;
}

.services ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: 700;
}

.services ul li a{
    text-decoration: none;
    padding: 1rem;
    color: var(--font-color);
}

.services ul li a.active{
    color: var(--primary-color);
    border-bottom: 0.25rem solid var(--primary-color);
}

.button--primary{
    background-color: var(--primary-color);
    color: var(--btn-primary-font-color);
    padding: 1rem 1.8rem;
    border-radius: 0.4rem;
    font-weight: 800;
}

.button--primary:hover{
    background-color: var(--primary-color-hover);
}

main.container{
    display: grid;
    place-items: center;
}

main.container picture img {
    width: 15rem;
    margin: 8rem auto 2rem;
}

main.container form{
    width: 100%;
}

main.container form .search-container{
    max-width: inherit;
    display: flex;
    justify-content: space-around;
    border: 0.2rem solid var(--bg-footer-border);
    border-radius: 2rem;
    margin: 0 1rem;
    position: relative;
    padding: 0.5rem 0.5rem;
}

.search-container input, .search-container input:focus{
    border: none;
    margin-left: 0;
    color: var(--font-color);
    font-size: inherit;
    outline: none;
}

.language-label{
    margin: 3rem auto;
    font-weight: 500;
    font-size: 1.4rem;
}

.language-label a{
    text-decoration: none;
    color: var(--primary-color);
}

main.container .trends{
    min-width: 100%;
    min-height: 55vh;
    min-height: 55svh;
    display: flex;
    flex-direction: column;
    padding: 1rem 1.5rem;
    position: relative;
    font-size: 1.4rem;
    font-weight: 500;
}

.trends .header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.trends .trend-item{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 1.15rem 1rem;
    border-bottom: 0.1rem solid var(--bg-footer-border);
}

.trends .trend-item > :nth-child(2){
    margin-left: 1rem;
}

footer.container{
    background-color: var(--bg-footer);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.country{
    padding: 1rem;
    border-bottom: 0.2rem solid var(--bg-footer-border);
    margin-bottom: 4rem;
    font-size: 1.5rem;
    font-weight: 400;
}

footer.container .options{
    border-top: 0.2rem solid var(--bg-footer-border);
}

footer.container .options .list{
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    margin: 1rem;
}

.list .item{
    margin: 1rem;
}

.options .item a{
    text-decoration: none;
    color: var(--font-color);
    font-size: 1.4rem;
    font-weight: 500;
}